@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "mytheme";
  default: true;
  prefersdark: true;
  color-scheme: dark;
  --color-base-100: "#09090b"; /* Zinc 950 */
  --color-base-200: "#18181b"; /* Zinc 900 */
  --color-base-300: "#27272a"; /* Zinc 800 */
  --color-base-content: "#fafafa"; /* Zinc 50 */
  
  --color-primary: "#fafafa"; /* Zinc 50 */
  --color-primary-content: "#09090b"; /* Zinc 950 */
  
  --color-secondary: "#a1a1aa"; /* Zinc 400 */
  --color-secondary-content: "#09090b"; /* Zinc 950 */
  
  --color-accent: "#fafafa"; /* Zinc 50 */
  --color-accent-content: "#09090b"; /* Zinc 950 */
  
  --color-neutral: "#27272a"; /* Zinc 800 */
  --color-neutral-content: "#fafafa"; /* Zinc 50 */
  
  --color-info: "#38bdf8";
  --color-success: "#4ade80";
  --color-warning: "#fbbf24";
  --color-error: "#f87171";
}

body {
  background-color: var(--color-black);
  color: var(--color-base-content);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  #disqus_thread {
    --tw-text-opacity: 1 !important;
    --tw-bg-opacity: 1 !important;
    color: var(--color-base-content) !important;
    background-color: var(--color-black) !important;
  }
}