@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "mytheme";
  default: true;
  prefersdark: true; /* set as default dark mode (prefers-color-scheme:dark) */
  color-scheme: dark; /* color of browser-provided UI */
  --color-primary: "#f5f5f5";
  --color-primary-content: "#222222";
  --color-secondary: "#f2f2f2";
  --color-accent: "#225522";
  --color-neutral: "#000000";
  --color-base-100: "#222222";
  --color-info: "#00d4ff";
  --color-success: "#508c00";
  --color-warning: "#fb6b00";
  --color-error: "#ff7d7d";
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 100, 100, 300;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #0a0a0a;
  overscroll-behavior: none;
}

.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: .75s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% { transform: rotate( 0.0deg) }
 50% { transform: rotate(14.0deg) }
 100% { transform: rotate( 0.0deg) }
}

.infinite-scroll {
  animation-name: infinte-scroll;  /* Refers to the name of your @keyframes element below */
  animation-duration: 20s;
  animation-timing-function: linear;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */

}

@keyframes infinte-scroll {
  0% {transform: translateX(0)}
  100% {transform: translateX(calc(-50% - 20px))}
}